<h2>Interpolation</h2>

<p> {{ nome }} tem {{ idade }} anos.</p>
<p>{{ nome }} tem mais de 44 anos?</p>
<p>{{idade > 44}}</p>
<p>Quanto é {{ idade }} + {{ maisUm }}?</p>
<p>{{ idade + maisUm }}</p>
<hr>
<h2>Pronpety Binding</h2>
<button [disabled]="checkedDisabled">Button</button>
<img [src]="imgSrc" [title]="imgTitle" [alt]="imgTitle">
<br>
<br>
<hr>
<h2>Event Binding</h2>
<button (click)="alertaInfo($event)">Alert</button>
<div (mousemove)="mouseMoveTeste($event)">
</div>
{{ position.x }} - {{ position.y }}
<br>
<br>
<hr>
<h2>Two-Way Binding</h2>
<input [(ngModel)]="nome">
{{ nome }}
<br>
<br>
<hr>
<br>
